nav {
    display: block;
  }

  html {
    scroll-behavior: smooth;
}

/* mobile phone media query*/
body {
  margin: 14px;
  font-size: smaller;
  background-color: rgb(228, 255, 255);
}

@media (max-width: 600px) {
  body {
    margin: 3px;
  }
}

/* tablet media query*/
body {
  margin: 20px;
  font-size: small;
  background-color: #f8dbf1;
}

@media (max-width: 800px) {
  body {
    margin: 8px;
  }
}


/* desktop media query*/
body {
  margin: 24px;
  font-size: large;
  background-color: rgb(255, 250, 243);
}

@media (max-width: 1000px) {
  body {
    margin: 12px;
  }
}







.header {
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background: #f79ae2;
    color: #f1f1f1;
  }

  .Experience-Container{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap; 
  }


  .Contact-LinkedIn {
    display: grid;
    grid-template-columns: 50px 50px;
    gap:20px;
  }

  .Contact-Github {
    display: grid;
    grid-template-columns: 50px 50px;
    gap:20px;
  }
     




